.cta-button {
    display: flex;
    align-items: center;
    gap: $sp32;
    width: fit-content;

    p {
        transition: 0.3s;
        @include medium-24;
    }

    ._icon {
        width: 37px;
        height: 100%;
        display: flex;
        overflow: hidden;
        gap: $sp24;

        svg {
            transition: 0.5s;
            transform: translateX(calc(-100% - 24px));
            flex: none;
        }
    }

    &:hover {
        >p {
            color: $blue;
        }

        >._icon {
            svg {
                color: $blue;
                transform: translateX(0%);
            }
        }
    }
}

