@mixin book-xs {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 130%;
    letter-spacing: 0.015rem;
    margin-top: -0.125rem;
    margin-bottom: -0.125rem;
}

@mixin book-s {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    letter-spacing: 0.02rem;
    margin-top: -0.1875rem;
    margin-bottom: -0.3125rem;
}

@mixin book-ms {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 130%;
    margin-top: -0.3125rem;
    margin-bottom: -0.3125rem;
}

@mixin book-m {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    margin-top: -0.375rem;
    margin-bottom: -0.375rem;
}

@mixin book-ml {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 130%;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

@mixin book-l {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 110%;
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;
}

@mixin book-xl {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 100%;
    margin-top: -0.375rem;
    margin-bottom: -0.375rem;
}

@mixin book-xxl {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 3.75rem;
    line-height: 100%;
    margin-top: -0.4375rem;
    margin-bottom: -0.5rem;
}

@mixin book-3xl {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 100%;
    margin-top: -0.5625rem;
    margin-bottom: -0.625rem;
}

@mixin book-4xl {
    font-family: 'mainfont', sans-serif;
    font-weight: 400;
    font-size: 6rem;
    line-height: 100%;
    margin-top: -0.75rem;
    margin-bottom: -0.8125rem;
}

@mixin medium-xs {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 0.75rem;
    line-height: 130%;
    letter-spacing: 0.015rem;
    margin-top: -0.125rem;
    margin-bottom: -0.125rem;
}

@mixin medium-s {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 1rem;
    line-height: 130%;
    letter-spacing: 0.02rem;
    margin-top: -0.1875rem;
    margin-bottom: -0.3125rem;
}

@mixin medium-ms {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 1.25rem;
    line-height: 130%;
    margin-top: -0.3125rem;
    margin-bottom: -0.3125rem;
}

@mixin medium-m {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 1.5rem;
    line-height: 130%;
    margin-top: -0.375rem;
    margin-bottom: -0.375rem;
}

@mixin medium-ml {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 1.875rem;
    line-height: 130%;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

@mixin medium-l {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 2.25rem;
    line-height: 100%;
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;
}

@mixin medium-xl {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 3rem;
    line-height: 100%;
    margin-top: -0.375rem;
    margin-bottom: -0.375rem;
}

@mixin medium-xxl {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 3.75rem;
    line-height: 100%;
    margin-top: -0.4375rem;
    margin-bottom: -0.5rem;
}

@mixin medium-3xl {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 4.5rem;
    line-height: 100%;
    margin-top: -0.5625rem;
    margin-bottom: -0.625rem;
}

@mixin medium-4xl {
    font-family: 'mainfont', sans-serif;
    font-weight: 530;
    font-size: 6rem;
    line-height: 100%;
    margin-top: -0.75rem;
    margin-bottom: -0.8125rem;
}

.full-width-grid {
    margin: 0 $sp48;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    column-gap: 1.5rem;

    @include mobile() {
        margin: 0 $sp16;
        column-gap: 1rem;
    }
}

.case-study-progress {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0.25rem;
    background: $accentblue;
    z-index: 1100;

    ._current {
        position: fixed;
        top: 0;
        width: 0%;
        height: 0.25rem;
        background: $blue;
        z-index: 1100;
    }
}

.next-project-wrapper {
    position: fixed;
    bottom: $sp72;
    right: $sp72;
    z-index: 500;
    width: fit-content;
    height: fit-content;
    transition: 0.3s;
    cursor: pointer;
    opacity: 0;

    @include mobile() {
        display: none;
    }

    ._thumbnail {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        border-radius: $sp8;
        transition: 0.3s;

        :hover>& {
            transform: translateY(-90%);
        }
    }

    ._content {
        position: relative;
        z-index: 500;
        background: #ffffff;
        width: 17.5rem;
        border-radius: $sp8;
        padding: $sp32;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);

        ._button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: $sp24;

            ._text {
                @include medium-16;
            }
        }

        ._project-title {
            @include medium-24;
            line-height: 130%;
        }
    }
}

.project-hero {
    padding-bottom: $sp80;

    ._project-metas {
        margin-top: $sp240;
        margin-bottom: $sp72;
        grid-column: 2 / 18;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        gap: $sp72;

        @include mobile() {
            height: fit-content;
        }

        ._top {
            ._title {
                h1 {
                    @include book-xxl;

                    @include mobile() {
                        @include book-xl;
                    }
                }
            }
        }

        ._bottom {
            display: flex;
            gap: $sp72;

            @include mobile() {
                flex-direction: column;
                gap: $sp32;
            }

            ._meta-wrapper {
                display: flex;
                flex-direction: column;
                gap: $sp24;

                @include mobile() {
                    gap: $sp16;
                }

                ._title {
                    color: #797979;

                    p {
                        @include book-ms;
                    }
                }

                ._text {
                    p {
                        @include book-ms;
                    }
                }
            }
        }
    }

    ._video-wrapper {
        position: relative;
        background: black;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            opacity: 1;
        }
    }

}

@mixin cs-txt-main {
    margin-bottom: $sp160;
    grid-column: 2 / 18;
    display: flex;

    ._content {
        max-width: 63rem; //1008px

        ._pre-heading {
            color: #3975CA;
            margin-bottom: $sp16;

            p {
                @include medium-m;

                @include mobile() {
                    @include medium-ms;
                }
            }
        }

        ._heading {
            p {
                @include book-l;

                @include mobile() {
                    @include book-ml;
                    line-height: 110%
                }
            }
        }
    }
}

.cs-txt-main-left {
    @include cs-txt-main;
}

.cs-txt-main-right {
    @include cs-txt-main;
    justify-content: end;
}

@mixin cs-fig-1-full {
    margin-bottom: $sp160;
    grid-column: 1 / 19;

    ._content {
        display: flex;
        flex-direction: column;

        ._wrapper {
            overflow: hidden;
            width: 100%;

            img,
            video {
                width: 100%;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }

        ._description {
            margin-top: $sp32;
            max-width: 30.625rem; //490px

            p {
                @include book-m;

                @include mobile() {
                    @include book-ms;
                    line-height: 130%;
                }
            }
        }
    }
}

.cs-fig-1-full-left {
    @include cs-fig-1-full;

    ._content {
        align-items: start;
    }
}

.cs-fig-1-full-right {
    @include cs-fig-1-full;

    ._content {
        align-items: end;
    }
}

@mixin cs-fig-1-asym {
    margin-bottom: $sp160;
    grid-column: 1 / 19;

    ._content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include mobile() {
            flex-direction: column;
        }

        ._wrapper {
            max-width: calc(100% - 30.625rem - #{$sp24});
            overflow: hidden;

            @include mobile() {
                max-width: 100%;
            }

            img,
            video {
                width: 100%;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }

        ._description {
            flex: none;
            width: 30.625rem; //490px

            @include mobile() {
                width: 100%;
                margin-top: $sp32;
            }

            p {
                @include book-m;

                @include mobile() {
                    @include book-ms;
                    line-height: 130%;
                }
            }
        }
    }
}

.cs-fig-1-asym-left {
    @include cs-fig-1-asym;

    @include mobile() {
        ._content {
            flex-direction: column-reverse;
        }
    }
}

.cs-fig-1-asym-right {
    @include cs-fig-1-asym;

    ._content {
        ._description {
            margin-left: $sp24;

            @include mobile() {
                margin-left: 0;
            }
        }
    }
}

@mixin cs-fig-1x1 {
    margin-bottom: $sp160;
    grid-column: 1 / 19;

    ._content {
        display: flex;
        flex-direction: column;

        ._images {
            display: flex;
            justify-content: space-between;
            gap: $sp24;

            @include mobile() {
                flex-direction: column;
            }

            ._wrapper {
                overflow: hidden;

                img,
                video {
                    height: auto;
                    max-width: 100%;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

                    @include mobile() {
                        width: 100%;
                    }
                }
            }

        }

        ._description {
            margin-top: $sp32;
            max-width: 30.625rem; //490px

            p {
                @include book-m;

                @include mobile() {
                    @include book-ms;
                    line-height: 130%;
                }
            }
        }
    }
}

.cs-fig-1x1-left {
    @include cs-fig-1x1;

    ._content {
        align-items: start;
    }
}

.cs-fig-1x1-right {
    @include cs-fig-1x1;

    ._content {
        align-items: end;
    }
}

.cs-fig-1x1-asym-left {
    margin-bottom: $sp160;
    grid-column: 1 / 19;
    display: grid;
    grid-template-columns: subgrid;

    ._content {
        grid-column: 1 / 19;
        display: grid;
        grid-template-columns: subgrid;

        @include mobile() {
            display: flex;
            flex-direction: column-reverse;
        }

        ._left {
            grid-column: 1 / 8;
            display: flex;
            flex-direction: column;

            ._wrapper {
                overflow: hidden;

                img,
                video {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }

            ._description {
                margin-top: $sp32;
                max-width: 30.625rem; //490px

                p {
                    @include book-m;

                    @include mobile() {
                        @include book-ms;
                        line-height: 130%;
                    }
                }
            }
        }

        ._right {
            grid-column: 8 / 19;

            @include mobile() {
                margin-bottom: $sp32;
            }

            ._wrapper {
                overflow: hidden;

                img,
                video {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
        }
    }
}

.cs-fig-1x1-asym-right {
    margin-bottom: $sp160;
    grid-column: 1 / 19;
    display: grid;
    grid-template-columns: subgrid;

    ._content {
        grid-column: 1 / 19;
        display: grid;
        grid-template-columns: subgrid;

        @include mobile() {
            display: flex;
            flex-direction: column;
        }

        ._left {
            grid-column: 1 / 12;

            @include mobile() {
                margin-bottom: $sp32;
            }

            ._wrapper {
                overflow: hidden;

                img,
                video {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
        }

        ._right {
            grid-column: 12 / 19;
            display: flex;
            flex-direction: column;
            align-items: end;

            ._wrapper {
                overflow: hidden;

                img,
                video {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }

            ._description {
                margin-top: $sp32;
                max-width: 30.625rem; //490px

                p {
                    @include book-m;

                    @include mobile() {
                        @include book-ms;
                        line-height: 130%;
                    }
                }
            }
        }
    }
}

@mixin cs-fig-1x2-asym {
    margin-bottom: $sp160;
    grid-column: 1 / 19;
    display: grid;

    ._content {
        display: flex;
        flex-direction: column;

        ._images {
            display: flex;
            gap: $sp24;
            width: 100%;
            align-items: stretch;

            @include mobile() {
                flex-direction: column;
            }

            ._left,
            ._right {
                width: 50%;
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;

                @include mobile() {
                    width: 100%;
                }

                ._wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: $sp24;
                    flex: 1;
                    overflow: hidden;

                    img,
                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    }
                }
            }
        }

        ._description {
            margin-top: $sp32;
            max-width: 30.625rem; //490px

            p {
                @include book-m;

                @include mobile() {
                    @include book-ms;
                    line-height: 130%;
                }
            }
        }
    }
}

.cs-fig-1x2-asym-left {
    @include cs-fig-1x2-asym;
}

.cs-fig-1x2-asym-right {
    @include cs-fig-1x2-asym;

    ._content {
        align-items: end;
    }
}

.cs-int-compare {
    margin-bottom: $sp160;
    grid-column: 1 / 19;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 50;
    }

    ._content {
        position: relative;
        background: #000000;

        ._images {
            position: relative;
            transition: 0.1s;

            ._before {
                position: absolute;
                top: 0;
                z-index: 5;

                ._text {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    height: 100%;
                    color: #ffffff;
                    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
                    display: none;

                    p {
                        @include medium-ms;
                        background: #000000;
                        padding: $sp16;
                        border-radius: $sp8;
                        transform: rotate(-90deg);
                    }
                }

                img {
                    max-height: 120vh;
                }
            }

            ._after {

                ._text {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    height: 100%;
                    color: #ffffff;
                    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
                    display: none;

                    p {
                        @include medium-ms;
                        background: #000000;
                        padding: $sp16;
                        border-radius: $sp8;
                        transform: rotate(90deg);
                    }
                }

                img {
                    max-height: 120vh;
                }
            }
        }

        ._divider {
            position: absolute;
            top: 0;
            z-index: 5;
            width: 4px;
            height: 100%;
            background: #ffffff;
            display: flex;
            align-items: center;

            ._indicator {
                position: absolute;
                height: 100px;
                width: 100px;
                transform: translateX(-48px);
                display: flex;
                justify-content: center;
                align-items: center;

                @include mobile() {
                    height: 48px;
                    width: 48px;
                    transform: translateX(-24px);
                }

                ._icon-background {
                    transition: 0.2s;
                    height: 100px;
                    width: 100px;
                    background: #ffffff;
                    border-radius: 500px;
                    border: 4px solid #FFBF00;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include mobile() {
                        height: 48px;
                        width: 48px;
                    }

                    &:hover,
                    &:active {
                        background: #FFBF00;
                    }

                    img {

                        @include mobile() {
                            width: 24px;
                        }
                    }
                }

                ._pulsating-circle {
                    position: absolute;
                    height: 100px;
                    width: 100px;
                    background: #FFBF00;
                    border-radius: 500px;
                    z-index: -2;

                    @include mobile() {
                        height: 48px;
                        width: 48px;
                    }
                }
            }
        }
    }
}

.cs-int-drag {
    margin-bottom: $sp160;
    grid-column: 1 / 19;
    height: fit-content;

    ._drag-blob {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 128px;
        height: 128px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
        transform-origin: 50% 50%;
        transform: translate(-50%, -50%);
        will-change: width, height, transform, border;
        z-index: 999;
        pointer-events: none;
        border: 1px solid #000000;

        ._blob-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: $sp16;

            p {
                @include medium-m;
            }
        }

    }

    ._content {
        overflow: hidden;
        height: fit-content;
        background: #E3E6EA;
        padding: $sp24 $sp48;

        @include mobile() {
            padding: $sp24;
        }

        ._gallery {
            height: 100%;
            display: flex;
            gap: $sp24;

            img {

                flex-shrink: 0;
                object-fit: contain;
                max-height: 120vh;

                @include mobile() {
                    max-height: 90vh;
                    max-width: 1000%;
                }
            }
        }
    }
}

.cs-testimonial {
    grid-column: 1 / 19;
    display: grid;
    grid-template-columns: subgrid;

    ._content {
        grid-column: 1 / 19;
        display: grid;
        grid-template-columns: subgrid;

        @include mobile() {
            display: flex;
            flex-direction: column-reverse;
        }

        ._left {
            grid-column: 1 / 11;
            display: flex;
            align-items: center;

            ._wrapper {
                ._text {
                    margin-bottom: $sp32;

                    p {
                        @include book-xl;

                        @include mobile() {
                            @include book-ml;
                            line-height: 110%;
                        }
                    }
                }

                ._name {
                    margin-bottom: $sp16;

                    @include mobile() {
                        margin-bottom: $sp8;
                    }

                    p {
                        @include medium-m;
                        
                        @include mobile() {
                            @include medium-ms;
                        }
                    }
                }

                ._position {
                    color: #6E6E6E;

                    p {
                        @include book-ms;
                        
                         @include mobile() {
                            @include medium-ms;
                        }
                    }
                }
            }
        }

        ._right {
            grid-column: 11 / 19;
            display: grid;
            justify-content: end;

            @include mobile() {
                margin-bottom: $sp32;
            }

            img {
                width: 100%;
            }
        }
    }
}