@import 'variables';
@import 'components';

body {
    color: $black;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.5rem;
}

.width-limiter {
    margin: 0 auto;
    width: 100%;
    max-width: 81.875rem;
    position: relative;
    padding: 0 $widthLimiterPadding;
}

.width-limiter-wide {
    margin: 0 auto;
    width: 100%;
    max-width: 101.25rem;
    position: relative;
    padding: 0 $widthLimiterPadding;
}

.page-reveal {
    //display: none;

    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;

    ._top {
        width: 100%;
        height: 50%;
        background: $black;
    }

    ._bottom {
        width: 100%;
        height: 50%;
        background: $black;
    }

    ._content {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        ._flex-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            ._logo {
                margin-bottom: $sp40;
                opacity: 0;
            }

            ._text {
                @include book-36;
                color: #ffffff;
                max-width: 600px;
                text-align: center;
                opacity: 0;
            }
        }
    }
}

.video-transition-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 100;
    overflow: hidden;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        opacity: 1;
    }
}

header {
    position: absolute;
    top: 0;
    width: $absoluteWidth100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: $sp56;
    z-index: 100;

    ._left {}

    ._center {
        nav {
            ul {
                display: flex;
                gap: $sp24;

                li {
                    @include medium-16;
                    letter-spacing: 0.1rem;
                }
            }
        }
    }

    ._right {

        a {
            @include medium-16;
            letter-spacing: 0.1rem;
            padding: $sp16 $sp24;
            border-radius: 0.25rem;
            border: 1px solid $black;
            transition: 0.2s;

            &:hover {
                background: $black;
                color: #ffffff;
            }
        }
    }
}

.homepage-hero {
    grid-column: 1 / 13;
    padding: $sp240 0 0 0;

    ._pre-heading {
        @include book-36;
        margin-bottom: $sp32;
        text-align: center;
        color: $gray40;
    }

    ._heading {
        @include book-96;
        text-align: center;
        line-height: 108%;
    }
}

.projects-section {
    height: 120vh;
    position: relative;

    ._sticky-wrapper {
        position: sticky;
        top: 0;
        margin: 0 auto;
        width: 80%;

        overflow: hidden;
        border-radius: $sp32;

        ._background-videos {
            width: 100%;
            height: 100vh;
            position: relative;
            background: #000000;

            video {
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 100.1%;
                min-height: 100.1%;
                transform: translate(-50%, -50%);
                object-fit: cover;
            }
        }

        ._projects-wrapper {
            position: absolute;
            top: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            opacity: 0;
            display: flex;

            ._project-item {
                margin: $sp48 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                ._title {
                    color: #ffffff;
                    @include medium-64;
                    opacity: 0.2;
                }

                ._icon {
                    overflow: hidden;
                    opacity: 0;
                }
            }

            ._tags-wrapper {
                position: absolute;
                bottom: $sp48;
                width: $absoluteWidth100;
                display: flex;
                justify-content: space-between;


                ._tag {
                    color: white;
                    @include medium-20;
                }
            }
        }

    }
}

.what-we-do-section {

    ._title {
        @include medium-20;
        letter-spacing: 0.095rem;
        margin-bottom: $sp80;
        grid-column: 1 / 13;
    }

    ._heading {
        @include book-96;
        max-width: 53rem;
        grid-column: 1 / 13;
        margin-bottom: $sp120;
    }

    ._right-alined-wrapper {
        grid-column: 1 / 13;
        display: flex;
        justify-content: end;

        ._right-alined {
            max-width: 39.375rem;

            ._subheading {
                @include book-36;
                color: $gray40;
                margin-bottom: $sp80;
            }
        }

        .cta-button {
            margin-bottom: $sp160;
        }

    }

    ._selected-partners {
        grid-column: 1 / 13;

        p {
            @include book-14;
            letter-spacing: 0.105rem;
            color: $gray40;
            margin-bottom: $sp24;
        }

        ._logos {
            margin-bottom: $sp240;
            display: flex;
            justify-content: space-between;

            img {
                max-height: 3.125rem;
            }
        }
    }
}


.what-sets-us-apart {
    margin-bottom: $sp160;

    ._title {
        @include medium-20;
        letter-spacing: 0.095rem;
        margin-bottom: $sp80;
    }

    ._heading {
        @include book-96;
        margin-bottom: $sp160;
    }

    ._outcomes-wrapper {
        ._title {
            @include book-36;
            margin-bottom: $sp48;
        }

        ._cards-wrapper {
            display: flex;
            flex-direction: row;
            gap: $sp40;
            margin-bottom: $sp48;

            ._card {
                border-radius: 8px;
                overflow: hidden;
                position: relative;

                ._content {
                    position: absolute;
                    top: 0;
                    z-index: 5;
                    width: 100%;
                    height: 100%;
                    padding: $sp24;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    ._value {
                        @include book-64;
                        margin-bottom: $sp24;
                    }

                    ._description {
                        @include medium-16;
                        line-height: 130%;
                        color: $gray40;
                    }
                }
            }
        }
    }
}

.video-reel {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin-bottom: $sp120;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100.1%;
        min-height: 100.1%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
}

.why-work-with-us {

    ._title {
        @include medium-20;
        letter-spacing: 0.095rem;
        margin-bottom: $sp80;
    }


    ._animation-wrapper {
        ._heading {
            @include book-96;

            ._hide {
                position: relative;
                z-index: 10;
            }

            ._we {
                position: relative;


                &::before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: -$sp16;
                    right: -$sp32;
                    bottom: -$sp56;
                    left: -$sp24;
                    margin-left: -0.5rem;
                    background: #ffffff;
                    pointer-events: none;
                    border-radius: 0.5rem;
                    opacity: 0.6;
                }
            }
        }

        ._reasons-wrapper {
            display: flex;
            flex-direction: column;

            ._reason {
                width: 100%;
                min-height: 240px;
                border-radius: 0.5rem;
                background: $lightblue;

                ._content {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    min-height: 240px;
                    padding: $sp24;

                    ._number {
                        @include book-24;
                        color: $gray20;
                        line-height: 110%
                    }

                    ._text {
                        @include book-40;
                        line-height: 110%;
                        max-width: 490px;
                        width: 100%;
                    }
                }
            }

            ._first-spacer {
                width: 100%;
                height: calc($sp80 + 0.75rem);
                margin-top: -0.75rem;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
                background: #ffffff;
                position: relative;
                z-index: 100;
            }

            ._spacer {
                width: 100%;
                height: $sp16;
                background: #ffffff;
                position: relative;
                z-index: 100;
            }

            ._last-spacer {
                width: 100%;
                height: $sp160;
                background: #ffffff;
                position: relative;
                z-index: 100;
            }
        }
    }
}

.testimonials {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: #ffffff;

    ._progress {
        position: absolute;
        top: 0;
        width: 100%;
        height: 0.25rem;
        background: $accentblue;
        z-index: 10;

        ._current {
            position: absolute;
            top: 0;
            width: 35%;
            height: 0.25rem;
            background: $yellow;
            z-index: 11;
        }
    }

    ._background-images {
        height: 100%;
        width: 100%;
        position: absolute;

        ._gradient {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, 0) 100%);
            z-index: 5;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100.1%;
            min-height: 100.1%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }

    ._flex-wrapper {
        width: 100%;
        height: 100vh;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;


        ._left {
            margin-bottom: $sp120;

            ._quote {
                @include medium-36;
                max-width: 800px;
                margin-bottom: $sp64;
            }

            ._from {
                ._name {
                    @include book-16;
                    margin-bottom: $sp8;
                }

                ._company {
                    @include medium-16;
                    margin-bottom: $sp16;
                }

                ._position {
                    @include book-20;
                    color: $accentblue;
                }
            }
        }

        ._right {
            margin-bottom: $sp120;

            .cta-button {
                &:hover {
                    >p {
                        color: $yellow;
                    }

                    >._icon {
                        svg {
                            color: $yellow;
                        }
                    }
                }
            }
        }
    }
}

footer {
    position: relative;

    ._get-in-touch {
        padding: $sp240 0 $sp160 0;
        text-align: center;

        ._pre-heading {
            @include book-30;
            color: $gray40;
            margin-bottom: $sp24;
            line-height: 100%;
        }

        ._heading {
            @include medium-48;
            line-height: 100%;
        }
    }

    ._flex-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: $sp120;
        padding: $sp48;

        ._left {
            display: flex;
            flex-direction: column;
            gap: $sp24;

            ._email {
                @include medium-20;
            }

            ._location {
                @include medium-20;
                color: $gray40;
            }
        }

        ._right {
            ._legal {
                @include medium-20;
            }
        }
    }

    ._logo {
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
}