@font-face {
  font-family: "mainfont";
  src: url("../media/fonts/mainfont.woff2") format("woff2-variations");
  font-style: normal;
}
.cta-button {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: -moz-fit-content;
  width: fit-content;
}
.cta-button p {
  transition: 0.3s;
  font-family: "mainfont", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.cta-button ._icon {
  width: 37px;
  height: 100%;
  display: flex;
  overflow: hidden;
  gap: 1.5rem;
}
.cta-button ._icon svg {
  transition: 0.5s;
  transform: translateX(calc(-100% - 24px));
  flex: none;
}
.cta-button:hover > p {
  color: #3975CA;
}
.cta-button:hover > ._icon svg {
  color: #3975CA;
  transform: translateX(0%);
}

body {
  color: #212020;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.width-limiter {
  margin: 0 auto;
  width: 100%;
  max-width: 81.875rem;
  position: relative;
  padding: 0 3rem;
}

.width-limiter-wide {
  margin: 0 auto;
  width: 100%;
  max-width: 101.25rem;
  position: relative;
  padding: 0 3rem;
}

.page-reveal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}
.page-reveal ._top {
  width: 100%;
  height: 50%;
  background: #212020;
}
.page-reveal ._bottom {
  width: 100%;
  height: 50%;
  background: #212020;
}
.page-reveal ._content {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-reveal ._content ._flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-reveal ._content ._flex-wrapper ._logo {
  margin-bottom: 2.5rem;
  opacity: 0;
}
.page-reveal ._content ._flex-wrapper ._text {
  font-family: "mainfont", sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #ffffff;
  max-width: 600px;
  text-align: center;
  opacity: 0;
}

.video-transition-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: 100;
  overflow: hidden;
}
.video-transition-wrapper video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
}

header {
  position: absolute;
  top: 0;
  width: calc(100% - 6rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
  z-index: 100;
}
header ._center nav ul {
  display: flex;
  gap: 1.5rem;
}
header ._center nav ul li {
  font-family: "mainfont", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
}
header ._right a {
  font-family: "mainfont", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid #212020;
  transition: 0.2s;
}
header ._right a:hover {
  background: #212020;
  color: #ffffff;
}

.homepage-hero {
  grid-column: 1/13;
  padding: 15rem 0 0 0;
}
.homepage-hero ._pre-heading {
  font-family: "mainfont", sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 2rem;
  text-align: center;
  color: #545454;
}
.homepage-hero ._heading {
  font-family: "mainfont", sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  line-height: 108%;
}

.projects-section {
  height: 120vh;
  position: relative;
}
.projects-section ._sticky-wrapper {
  position: sticky;
  top: 0;
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  border-radius: 2rem;
}
.projects-section ._sticky-wrapper ._background-videos {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #000000;
}
.projects-section ._sticky-wrapper ._background-videos video {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100.1%;
  min-height: 100.1%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.projects-section ._sticky-wrapper ._projects-wrapper {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
}
.projects-section ._sticky-wrapper ._projects-wrapper ._project-item {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.projects-section ._sticky-wrapper ._projects-wrapper ._project-item ._title {
  color: #ffffff;
  font-family: "mainfont", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: normal;
  opacity: 0.2;
}
.projects-section ._sticky-wrapper ._projects-wrapper ._project-item ._icon {
  overflow: hidden;
  opacity: 0;
}
.projects-section ._sticky-wrapper ._projects-wrapper ._tags-wrapper {
  position: absolute;
  bottom: 3rem;
  width: calc(100% - 6rem);
  display: flex;
  justify-content: space-between;
}
.projects-section ._sticky-wrapper ._projects-wrapper ._tags-wrapper ._tag {
  color: white;
  font-family: "mainfont", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
}

.what-we-do-section ._title {
  font-family: "mainfont", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.095rem;
  margin-bottom: 5rem;
  grid-column: 1/13;
}
.what-we-do-section ._heading {
  font-family: "mainfont", sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  max-width: 53rem;
  grid-column: 1/13;
  margin-bottom: 7.5rem;
}
.what-we-do-section ._right-alined-wrapper {
  grid-column: 1/13;
  display: flex;
  justify-content: end;
}
.what-we-do-section ._right-alined-wrapper ._right-alined {
  max-width: 39.375rem;
}
.what-we-do-section ._right-alined-wrapper ._right-alined ._subheading {
  font-family: "mainfont", sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #545454;
  margin-bottom: 5rem;
}
.what-we-do-section ._right-alined-wrapper .cta-button {
  margin-bottom: 10rem;
}
.what-we-do-section ._selected-partners {
  grid-column: 1/13;
}
.what-we-do-section ._selected-partners p {
  font-family: "mainfont", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.105rem;
  color: #545454;
  margin-bottom: 1.5rem;
}
.what-we-do-section ._selected-partners ._logos {
  margin-bottom: 15rem;
  display: flex;
  justify-content: space-between;
}
.what-we-do-section ._selected-partners ._logos img {
  max-height: 3.125rem;
}

.what-sets-us-apart {
  margin-bottom: 10rem;
}
.what-sets-us-apart ._title {
  font-family: "mainfont", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.095rem;
  margin-bottom: 5rem;
}
.what-sets-us-apart ._heading {
  font-family: "mainfont", sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 10rem;
}
.what-sets-us-apart ._outcomes-wrapper ._title {
  font-family: "mainfont", sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 3rem;
}
.what-sets-us-apart ._outcomes-wrapper ._cards-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  margin-bottom: 3rem;
}
.what-sets-us-apart ._outcomes-wrapper ._cards-wrapper ._card {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.what-sets-us-apart ._outcomes-wrapper ._cards-wrapper ._card ._content {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.what-sets-us-apart ._outcomes-wrapper ._cards-wrapper ._card ._content ._value {
  font-family: "mainfont", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 1.5rem;
}
.what-sets-us-apart ._outcomes-wrapper ._cards-wrapper ._card ._content ._description {
  font-family: "mainfont", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  line-height: 130%;
  color: #545454;
}

.video-reel {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 7.5rem;
}
.video-reel video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100.1%;
  min-height: 100.1%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.why-work-with-us ._title {
  font-family: "mainfont", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.095rem;
  margin-bottom: 5rem;
}
.why-work-with-us ._animation-wrapper ._heading {
  font-family: "mainfont", sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.why-work-with-us ._animation-wrapper ._heading ._hide {
  position: relative;
  z-index: 10;
}
.why-work-with-us ._animation-wrapper ._heading ._we {
  position: relative;
}
.why-work-with-us ._animation-wrapper ._heading ._we::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -1rem;
  right: -2rem;
  bottom: -3.5rem;
  left: -1.5rem;
  margin-left: -0.5rem;
  background: #ffffff;
  pointer-events: none;
  border-radius: 0.5rem;
  opacity: 0.6;
}
.why-work-with-us ._animation-wrapper ._reasons-wrapper {
  display: flex;
  flex-direction: column;
}
.why-work-with-us ._animation-wrapper ._reasons-wrapper ._reason {
  width: 100%;
  min-height: 240px;
  border-radius: 0.5rem;
  background: #EEF3F9;
}
.why-work-with-us ._animation-wrapper ._reasons-wrapper ._reason ._content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 240px;
  padding: 1.5rem;
}
.why-work-with-us ._animation-wrapper ._reasons-wrapper ._reason ._content ._number {
  font-family: "mainfont", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  color: #8B8B8B;
  line-height: 110%;
}
.why-work-with-us ._animation-wrapper ._reasons-wrapper ._reason ._content ._text {
  font-family: "mainfont", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  max-width: 490px;
  width: 100%;
}
.why-work-with-us ._animation-wrapper ._reasons-wrapper ._first-spacer {
  width: 100%;
  height: 5.75rem;
  margin-top: -0.75rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  background: #ffffff;
  position: relative;
  z-index: 100;
}
.why-work-with-us ._animation-wrapper ._reasons-wrapper ._spacer {
  width: 100%;
  height: 1rem;
  background: #ffffff;
  position: relative;
  z-index: 100;
}
.why-work-with-us ._animation-wrapper ._reasons-wrapper ._last-spacer {
  width: 100%;
  height: 10rem;
  background: #ffffff;
  position: relative;
  z-index: 100;
}

.testimonials {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
.testimonials ._progress {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0.25rem;
  background: #C2D0D4;
  z-index: 10;
}
.testimonials ._progress ._current {
  position: absolute;
  top: 0;
  width: 35%;
  height: 0.25rem;
  background: #FFBF00;
  z-index: 11;
}
.testimonials ._background-images {
  height: 100%;
  width: 100%;
  position: absolute;
}
.testimonials ._background-images ._gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 5;
}
.testimonials ._background-images img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100.1%;
  min-height: 100.1%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials ._flex-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.testimonials ._flex-wrapper ._left {
  margin-bottom: 7.5rem;
}
.testimonials ._flex-wrapper ._left ._quote {
  font-family: "mainfont", sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  max-width: 800px;
  margin-bottom: 4rem;
}
.testimonials ._flex-wrapper ._left ._from ._name {
  font-family: "mainfont", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 0.5rem;
}
.testimonials ._flex-wrapper ._left ._from ._company {
  font-family: "mainfont", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1rem;
}
.testimonials ._flex-wrapper ._left ._from ._position {
  font-family: "mainfont", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #C2D0D4;
}
.testimonials ._flex-wrapper ._right {
  margin-bottom: 7.5rem;
}
.testimonials ._flex-wrapper ._right .cta-button:hover > p {
  color: #FFBF00;
}
.testimonials ._flex-wrapper ._right .cta-button:hover > ._icon svg {
  color: #FFBF00;
}

footer {
  position: relative;
}
footer ._get-in-touch {
  padding: 15rem 0 10rem 0;
  text-align: center;
}
footer ._get-in-touch ._pre-heading {
  font-family: "mainfont", sans-serif;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  color: #545454;
  margin-bottom: 1.5rem;
  line-height: 100%;
}
footer ._get-in-touch ._heading {
  font-family: "mainfont", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  line-height: 100%;
}
footer ._flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 7.5rem;
  padding: 3rem;
}
footer ._flex-wrapper ._left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer ._flex-wrapper ._left ._email {
  font-family: "mainfont", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
}
footer ._flex-wrapper ._left ._location {
  font-family: "mainfont", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
  color: #545454;
}
footer ._flex-wrapper ._right ._legal {
  font-family: "mainfont", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
}
footer ._logo {
  position: absolute;
  bottom: 0;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */